body {
  margin: 0; /* Remove margens padrão do body para garantir cobertura total */
  padding: 0; /* Remove preenchimentos padrão do body para garantir cobertura total */
  background: var(--zinc-50, #FAFAFA); /* Define o fundo global */
}